{{#each errors as |error|}}
<div class="alert alert-danger" role="alert">
    {{error}}
    <button class="btn btn-link btn-sm" {{action 'removeError' error}}>&times;</button>
</div>
{{/each}}
{{#each notices as |notice|}}
<div class="alert alert-info" role="alert">
    {{notice}}
    <button class="btn btn-link btn-sm" {{action 'removeNotice' notice}}>&times;</button>
</div>
{{/each}}
{{#each confirmations as |confirmation|}}
<div class="alert alert-success" role="alert">
    {{confirmation}}
    <button class="btn btn-link btn-sm" {{action 'removeConfirmation' confirmation}}>&times;</button>
</div>
{{/each}}
