{{input type='text' autocomplete='off' value=searchTerm key-up='updateEntries' class='form-control dropdown-toggle'}}

{{#if autocompleteEntries}}
    <ul class="dropdown-menu">
    {{#each autocompleteEntries as |entry|}}
        <li><a href="#" {{action 'selectEntry' entry}}>{{get entry displayField}}</a></li>
    {{/each}}
    </ul>
{{/if}}
