<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2" for="email">Name: </label>
        <div class="col-sm-6">
            {{input type="text" name="name" class="form-control" value=character.name}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2" for="server">Server</label>
        <div class="col-sm-6">
            {{autocomplete-form modelType='server' selectedItem=character.server}}
        </div>
    </div>
    <div class="form-group">
        {{#each-in groupedJobs as |role jobs|}}
        <div class="col-sm-3">
            <h4 class="form-control-static">{{role}}</h4>
            <div class="job-controls">
                {{#each jobs as |job|}}
                    {{job-checkbox jobInfo=(get playerJobs job.shortName) toggle=(action 'toggleJob')}}
                {{/each}}
            </div>
        </div>
        {{/each-in}}
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" {{ action 'createCharacter' }} class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

