<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{action 'cancelModal'}}><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{modal.modalTitle}}</h4>
        </div>
        <div class="modal-body">
            <p>{{modal.modalText}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" {{action 'closeModal'}}>Ok</button>
        </div>
    </div>
</div>
