<div class="checkbox col-xs-8">
    <label>
        {{input type="checkbox" checked=jobInfo.selected}}
        {{jobInfo.job.name}}
    </label>
</div>

{{#if jobInfo.selected}}
    <div class="col-xs-4">
        {{input type="text" value=jobInfo.level class="form-control input-sm"}}
    </div>
{{/if}}

