<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2" for="email">Email: </label>
        <div class="col-sm-6">
            {{input type="email" name="email" class="form-control" value=session.email}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2" for="password">Password: </label>
        <div class="col-sm-6">
            {{input type="password" name="password" class="form-control" value=session.password}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" {{ action 'login' }} class="btn btn-primary">Login</button>
        </div>
    </div>
</form>
