<h2>{{ team.name }}</h2>
<p>Owner: {{ team.owner.name }}</p>

<h3>Members</h3>
<ul>
    {{#each team.members as |member|}}
        <li>{{member.name}}</li>
    {{/each}}
</ul>

<h3>Add Member</h3>
<form class="form-inline">
    {{autocomplete-form modelType='character' selectedItem=newMember labelLess=true}}
    <button type="submit" class="btn btn-default" {{action 'addMember' newMember}}>Add Member</button>
</form>

