<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2" for="name">Name: </label>
        <div class="col-sm-6">
            {{input type="text" name="name" class="form-control"
            value=team.name}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            {{input type="submit" value="Create Team" class="btn btn-primary" }}
        </div>
    </div>
</form>

