<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2" for="name">Name: </label>
        <div class="col-sm-6">
            {{input type="text" name="name" class="form-control"
            value=user.name}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2" for="email">Email: </label>
        <div class="col-sm-6">
            {{input type="email" name="email" class="form-control"
            value=user.email}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2" for="password">Password: </label>
        <div class="col-sm-6">
            {{input type="password" name="password" class="form-control"
            value=user.password}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            {{input type="submit" value="Register" class="btn btn-primary" }}
        </div>
    </div>
</form>
