@import 'bootstrap';

@body-bg: #333339;
@panel-bg: #222228;
@text-color: @gray-lighter;
@brand-primary: #09c;
@brand-info: lighten(@panel-bg, 20%);
@modal-content-bg: @body-bg;
@input-bg: @panel-bg;
@input-color: @text-color;

.raidapp {
    .container;
    background-color: @panel-bg;
    margin-top: 4em;
    padding: 1em;

    header h1 {
        margin-top: 0;
    }

    .content {
        .make-row();
        & > nav {
            .make-sm-column(3);

            & :first-child {
                border-top-width: 4px;
            }
            li {
                border: 2px solid @body-bg;
                margin-top: 0;
            }
            & :last-child {
                border-bottom-width: 4px;
            }
        }

        .body {
            .make-sm-column(9);
        }
    }

    footer {
        color: @gray;
        text-align: center;
    }
}

.table tbody>tr>td {
  vertical-align: middle;
}

