<h2>Raid Teams</h2>

{{#link-to 'raid-teams.new' class="btn btn-primary"}}Create New{{/link-to}}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Member Count</th>
        </tr>
    </thead>
    <tbody>
    {{#each model as |team|}}
        <tr>
            <td>{{#link-to 'raid-teams.view' team }}{{team.name}}{{/link-to}}</td>
            <td>{{team.members.length}}</td>
        </tr>
    {{else}}
        <tr>
            <td colspan="2">No Raid Teams</td>
        </tr>
    {{/each}}
    </tbody>
</table>