<h2>Characters</h2>
{{#link-to 'characters.new' class="btn btn-primary"}}Create New{{/link-to}}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Jobs</th>
            <th>Raid Team</th>
            <th>Server</th>
            <th>Actions</th>
         </tr>
    </thead>
    <tbody>
    {{#each model as |character|}}
        <tr>
            <td>{{#link-to 'characters.edit' character}}{{character.name}}{{/link-to}}</td>
            <td>
                {{#each character.jobs as |job|}}
                    {{job.name}}
                {{/each}}
            </td>
            <td>{{if character.team character.team.name 'None'}}</td>
            <td>{{character.server.name}}</td>
            <td>
                {{#link-to 'characters.edit' character class="btn btn-info btn-xs"}}Edit{{/link-to}}
                <button class="btn btn-danger btn-xs" {{action 'deleteCharacter' character}}>Delete</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
