<table class="table">
    <thead>
        <tr><th>Class</th><th>Name</th><th>Role</th></tr>
    </thead>
    <tbody>
    {{#each model as |job|}}
    <tr><td>{{job.shortName}}</td><td>{{job.name}}</td><td>{{job.roles.[0]}}</td></tr>
    {{/each}}
    </tbody>
</table>
