<div class="raidapp">
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">RaiderHub</a>
                </div>
                <div class="navbar-right" style="margin-right: 0">
                    {{#if currentUser}}
                    <p class="navbar-text">Logged in as {{currentUser.name}}</p>
                    <button type="button" class="btn btn-info navbar-btn" {{action 'logout'}}>Logout</button>
                    {{else}}
                    <ul class="nav navbar-nav">
                        <li>{{#link-to 'users.login'}}Login{{/link-to}}</li>
                        <li>{{#link-to 'users.register'}}Register{{/link-to}}</li>
                    </ul>
                    {{/if}}
                </div>
            </div>
        </nav>
    </header>

    <div class="content">
        <nav>
            <ul class="nav nav-stacked">
                {{#link-to 'raids' tagName='li'}}{{#link-to 'raids' bubbles=false}}Raids{{/link-to}}{{/link-to}}
                {{#link-to 'jobs' tagName='li'}}{{#link-to 'jobs' bubbles=false}}Jobs{{/link-to}}{{/link-to}}
                {{#if currentUser}}
                {{#link-to 'characters' tagName='li'}}{{#link-to 'characters' bubbles=false}}Characters{{/link-to}}{{/link-to}}
                {{#link-to 'raid-teams' tagName='li'}}{{#link-to 'raid-teams' bubbles=false}}Raid Teams{{/link-to}}{{/link-to}}
                {{/if}}
            </ul>
        </nav>

        <div class="body">
            {{alerts-display}}
            {{outlet}}
        </div>
    </div>

    <footer>
        &copy; Tony Finn 2015
    </footer>
</div>

{{confirm-modal}}
{{modal-backdrop}}
