<h1>RaiderHub</h1>
<p>RaiderHub is a site for FFXIV raid teams to organise, including tools for:</p>
<ul>
    <li>Scheduling</li>
    <li>Progress Tracking</li>
    <li>Recruiting</li>
    <li>Measuring Performance</li>
</ul>